* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

@font-face {
	font-family: Pieces of Eight;
	src: local(Pieces of Eight), url('font/Pieces of Eight.ttf') format("ttf"),
	url('font/Pieces of Eight.ttf') format("opentype");
}

body, html {
	background-color: black;
	color: black;
	background-image: url("img/wallpaper-pirate-1280-800.jpg");
	background-size: 100%;
	background-repeat: no-repeat;
	font-family: Pieces of Eight;
	font-size: 22px;
}

html, body, .full-height {
	height: 100%;
}

ul {
	margin: auto;
}

img {
	margin: auto;
}

h1 {
	border: 1px solid red;
	text-align: center;
	background-color: transparent;
	color: white;
}

.row {
	/*border: 5px solid red;*/
	display: flex;
	flex: 1;
	flex-direction: row;
}

.col {
	/*border: 5px solid green;*/
	display: flex;
	flex: 1;
	flex-direction: column;
}

.double {
	flex: 2;
}

.triple {
	flex: 3;
}

.quad {
	flex: 4;
}

.quinte {
	flex: 5;
}

#image {
	width: 25%;
	height: 200px;
	border: 1px solid green;
	display: inline-block;
}

#message-accueil-container {
	width: 70%;
	height: 100%;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center; 
}

#message-accueil{
	width: 70%;
    font-size: 1.8vw;
}

#message-accueil h3{
	margin-bottom: 10%;
}

.navbar {
	/*background-color: #54544f;
	opacity: 0.8;*/
	padding: 20px;
	color: white;
	/*border: 2px solid black;*/
}
.accueil-img{
	background-image: url("img/boussole.png");
	background-size: 50%;
	background-repeat: no-repeat;
	background-position: left bottom;
	opacity: 0.5;
}

.parchemin {
	background-image: url("img/parchemin3.png");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	text-align: center;
}

.fade-in-text{
	animation: fadeIn 5s linear 1;
}

/* .faux-rhum{
	background-image: url("img/Boutons/forum.png");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

.inscription{
	background-image: url("img/Boutons/plume.png");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	} */

	@keyframes fadeIn {
		0% {
			opacity: 0;
		}

		100% {
			opacity: 100%;
		}
	}