*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body, html{
	background-image: url("img/bateau.jpg");
	background-repeat: no-repeat;
	background-color: black;
}

ul {
	margin: auto;
}

img{
	margin: auto;
}

h1{
	border: 1px solid red;
	text-align: center;
	background-color: black;
	color: white;
}